 /* Estilos básicos */
 body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
 }

 .header-fixo,
 .rodape {
   background-color: #333;
   color: #fff;
   padding: 20px;
   position: fixed;
   width: 100%;
   z-index: 1;
 }

 .header-fixo {
   top: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .notification-icon {
   position: relative;
 }

 .badge {
   position: absolute;
   top: -10px;
   right: -10px;
   background-color: red;
   color: white;
   border-radius: 50%;
   padding: 5px 10px;
   font-size: 12px;
 }

 .nav-menu ul {
   display: flex;
   list-style: none;
   padding: 0;
 }

 .nav-menu ul li {
   margin: 0 15px;
 }

 .menu-lateral {
   width: 200px;
   background-color: #444;
   color: #fff;
   padding: 20px;
   position: fixed;
   top: 80px;
   bottom: 0;
 }

 .menu-lateral ul {
   list-style: none;
   padding: 0;
 }

 .menu-lateral li {
   margin: 20px 0;
   display: flex;
   align-items: center;
 }

 .menu-lateral li i {
   margin-right: 10px;
 }

 .conteudo-principal {
   margin-left: 220px;
   padding: 80px 20px 20px;
   flex: 1;
 }

 .cards {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
 }

 .card {
   flex: 1 1 22%;
   background-color: #ddd;
   padding: 20px;
   text-align: center;
   border-radius: 5px;
 }

 .card i {
   font-size: 30px;
   color: #333;
   margin-bottom: 10px;
 }

 .atividades ul {
   list-style: none;
   padding: 0;
 }

 .atividades li {
   display: flex;
   align-items: center;
   margin: 10px 0;
 }

 .atividades li i {
   margin-right: 10px;
   color: #666;
 }

 .rodape {
   bottom: 0;
   text-align: center;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
 }

 .footer-nav a {
   color: #fff;
   text-decoration: none;
   margin: 0 10px;
 }